h1 {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
}

.squares {
  height: 100px;
  width: 100px;
  border: 4px solid black;
  display: inline-block;
  margin: -3px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#gameboard{
  text-align: center;
}
