h1 {
  text-align: center;
}

button {
  display: block;
  clear: both;
}

.squares {
  height: 100px;
  width: 100px;
  border: 4px solid black;
  float: left;
}

#row1, #row2, #row3 {
  clear: both;
}

#gameboard {
  margin: 0 auto;
}
